<h1>Criar Produto</h1>
<form action="/produtos/criar" method="POST">
    <div class="form-control">
        <label for="nome">Nome do produto</label>
        <input type="text" name="nome" placeholder="Digite o nome do produto">
    </div>
    <div class="form-control">
        <label for="preco">Preco do produto</label>
        <input type="text" name="preco" placeholder="Digite o preco do produto">
    </div>
    <div class="form-control">
        <label for="descricao">Descricao do produto</label>
        <input type="text" name="descricao" placeholder="Digite a descrição do produto">
    </div>
    <input type="submit" class="btn" value="Enviar">
</form>